<!-- Side Panel code -->

<h1 class="form-group"></h1>
  <div class="row">
    <div class="col-sm-3">
    <div class="single">
        <h3><a  href="properties" class="deco-none" >Category</a></h3>
           <% @props.each do | p | %>
            <% if p == "Public Buildings" %>
                <ul class="list-unstyled">
                  <li><a href="properties?category=<%= p %>" class="deco-none" data-toggle="collapse" data-target="#commercials">Public Buildings</a>
                    <ul class="collapse" id=commercials>
                      <li><a href="http://www.google.com" class="deco-none form-group">Hotels</a></li>
                      <li><a href="" class="deco-none form-group">Clubs</a></li>
                      <li><a href="" class="deco-none form-group">Studios</a></li>
                    </ul>
                  </li>
                </ul>
              <% else %>
               <ul class="list-unstyled">
                  <li><a href= "properties?category=<%= p %>" class="deco-none" ><%= p %></a></li>
                </ul>
              <% end %>
            <% end %>
        <hr class="marker">
        <h3>Location features</h3>
          <div>
            <%= check_box_tag(:Bedrooms) %>
            <%= label_tag(:Bedroom,"Bedroom(s)")%>
          </div>
          <div>
            <%= check_box_tag(:LivingRooms) %>
            <%= label_tag(:LivingRooms,"Living room(s)") %>
          </div>
          <div>
            <%= check_box_tag(:Kitchen) %>
            <%= label_tag(:Kitchen,"Kitchen(s)") %>
          </div>
          <div>
            <%= check_box_tag(:Bathrooms) %>
            <%= label_tag(:Bathrooms,"Bathroom(s)") %>
          </div>
        <hr class="marker">
        <h3>Privacy</h3>
          <div>
            <%= check_box_tag(:low) %>
            <%= label_tag(:low,"Low") %>
          </div>
          <div>
            <%= check_box_tag(:medium) %>
            <%= label_tag(:medium,"Medium") %>
          </div>
          <div>
            <%= check_box_tag(:high) %>
            <%= label_tag(:high,"High") %>
          </div>
        <div class="update-button">
        <button type="button" class="btn btn-primary">Update view</button>
        </div>
  </div>
</div>
