<%= render 'header' %>

<div class="container">
<div class="container showpage" >
  <!-- <div class="panel panel-default">
    <div class="panel-heading"><h2><%= @properties.name %></h2></div>
  </div> -->


<div class="row">
    <div class="col-sm-8">
        <div class="col-sm-12">
           <!-- <div class="row">
             <% if @properties.pic.present? %>
                <%= image_tag @properties.pic  , class: "picture"  %>
             <% end %>
           </div> -->

            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>

<!-- Light box implementation -->

            <div class="row">
               <div class="mySlides">
                  <img src="http://antonyz.com/wp-content/uploads/2014/11/London-England-Tower-Bridge-Night-car-Lights.jpg" style="width:100%", class="play-show">
                </div>

                <div class="mySlides">
                  <div class="numbertext"></div>
                  <img src="http://www.thetimes.co.uk/travel/s3/growthtravel-prod/uploads/2016/04/Rome-on-a-budget.jpg" style="width:100%", class="play-show">
                </div>

                <div class="mySlides">
                  <div class="numbertext"></div>
                  <img src="http://www.zapphyre.com/wp-content/uploads/2016/03/Berlin2.jpg" style="width:100%", class="play-show" >
                </div>

              <div class="mySlides">
                <div class="numbertext"></div>
                <img src="https://i.blogs.es/ff4749/berlin/original.jpg" style="width:100%", class="play-show">
              </div>

              <div class="mySlides">
                  <div class="numbertext"></div>
                  <img src="http://www.zapphyre.com/wp-content/uploads/2016/03/Berlin2.jpg" style="width:100%", class="play-show" >
                </div>

              <div class="mySlides">
                <div class="numbertext"></div>
                <img src="https://i.blogs.es/ff4749/berlin/original.jpg" style="width:100%", class="play-show">
              </div>

            </div>

              <div class="row">
                      <div class="column">
                        <img class="demo" src="http://antonyz.com/wp-content/uploads/2014/11/London-England-Tower-Bridge-Night-car-Lights.jpg" style="width:100%" onclick="currentSlide(1)" >
                      </div>

                      <div class="column">
                        <img class="demo" src="http://www.thetimes.co.uk/travel/s3/growthtravel-prod/uploads/2016/04/Rome-on-a-budget.jpg" style="width:100%" onclick="currentSlide(2)" >
                      </div>

                      <div class="column">
                        <img class="demo" src="http://www.zapphyre.com/wp-content/uploads/2016/03/Berlin2.jpg" style="width:100%" onclick="currentSlide(3)" >
                      </div>

                      <div class="column">
                        <img class="demo" src="https://i.blogs.es/ff4749/berlin/original.jpg" style="width:100%" onclick="currentSlide(4)">
                      </div>
              </div>


<!--  Light box implementation end -->

           <div class="row text-area">
             <% if @properties.info.present? %>
                <%= text_area_tag 'description', @properties.info,  size: "100x8", disabled: true %>
             <% end %>
            </div>

         </div>
    </div>

    <div class="cl-sm-4 sideheading">

        <div class="row">
          <% if @properties.price %>
            <%= @properties.price %>&nbsp;per day
          <% end %>
        </div>

        <div class="row form-group date-place">
          From: <input type="text" placeholder="mm/dd/yyyy" id="from-datepicker" class="form-control">
        </div>
        <div class="row form-group date-place">
          To: <input type="text" placeholder="mm/dd/yyyy" id="to-datepicker" class="form-control">
        </div>

        <div class="row">
         <button type="button" class="btn btn-primary btn-block">Request Booking</button>
        </div>

        <div class="row form-inline ">
            <% if @properties[:pic].blank? %>
              <div class="col-sm-6 mugshot">
                  <%= image_tag "https://www.barfoot.co.nz/images/noprofile-big.png", class: "mugshot" %>
              </div>
              <% else %>
              <div class="col-sm-6 mugshot">
                  <%= image_tag "https://www.barfoot.co.nz/images/noprofile-big.png", class: "mugshot" %>
              </div>
            <% end %>

            <div class="col-sm-6 nameplace">
                John Doe
              <div>
                <!-- <button type="button" class="btn btn-primary form-control button-place ">Contact</button> -->
                <%=  link_to "Contact" , contacts_path, class: "btn btn-primary form-control button-place" %>

              </div>
            </div>

        </div>

      <div class="row pic_placement">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2482.6476609170627!2d-0.09110564875278862!3d51.51967977953724!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48761cabe5517883%3A0xcdad2ecccc500599!2sRopemaker+St%2C+London+EC2Y!5e0!3m2!1sen!2suk!4v1490258171937" width="300" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>

  </div>
</div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $('#from-datepicker').datepicker();
    $('#to-datepicker').datepicker();
  });
</script>


<script>
function openModal() {
  document.getElementById('myModal').style.display = "block";
}

function closeModal() {
  document.getElementById('myModal').style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

function plusSlides(n) {
  showSlides(slideIndex += n);
}

function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
      slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
      dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
