 <div class="container placement">
  <div class="row">
    <div class="col-md-6">
       <h3 class="text-left">Get in touch</h3>
         <br>
          <%= form_for @contact do |f| %>
          <strong>Name:</strong><%= f.text_field :name, class: "form-control" %>
          <strong>Email:</strong><%= f.email_field :email, class: "form-control" %>
          <strong>Message:</strong><%= f.text_area :message, size: "40x8", class: "form-control" %>
        </br>
        <div>
          <%= f.submit "Submit" , class: " btn btn-primary form-control" %>
        </div>
         <% end %>
       </br>
     </div>
  </div>
</div>
